# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.env/
.venv/

# PyInstaller build artifacts
build/
dist/
*.spec

# Editor-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
